/* Import Google Fonts */



:root {
  /* The default font size for the application */
  --font-size: 16px;
  
  /* Typography variables */
  --text-xs: 13px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 24px;
  --text-2xl: 32px;
  --text-3xl: 40px;
  --text-4xl: 52px;
  
  /* Font weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  
  /* The default background color for the application. */
  --background: rgba(242, 242, 244, 1.00);
  /* The default color for elements or text that appears on top of the background. */
  --foreground: rgba(12, 12, 20, 1.00);
  /* The background color for cards, modals, and other containers. */
  --card: rgba(255, 255, 255, 1.00);
  /* The default color for text or elements that appear on top of cards, modals and other background containers. */
  --card-foreground: rgba(12, 12, 20, 1.00);
  /* The background color for dropdowns and tooltips. */
  --popover: rgba(255, 255, 255, 1.00);
  /* The default color for text or elements that appear on top of dropdowns and tooltips. */
  --popover-foreground: rgba(12, 12, 20, 1.00);
  /* The primary color used for buttons, links, and other interactive elements. */
  --primary: rgba(0, 0, 73, 1.00);
  /* The default color for text or elements that appear on top of primary colored elements. */
  --primary-foreground: rgba(247, 247, 248, 1.00);
  /* The secondary color used for secondary(but NOT-DESTRUCTIVE) buttons and interactive elements. */
  --secondary: rgba(0, 0, 0, 0);
  /* The default color for text or elements that appear on top of secondary colored elements. */
  --secondary-foreground: rgba(0, 0, 97, 1.00);
  /* The muted color used for less prominent elements, such as disabled buttons or disabled text. */
  --muted: rgba(229, 229, 233, 1.00);
  /* The default color for text or elements that appear on top of muted colored elements. */
  --muted-foreground: rgba(75, 75, 92, 1.00);
  /* The accent color used for highlights, links, and other interactive elements. */
  --accent: rgba(74, 74, 244, 1.00);
  /* The default color for text or elements that appear on top of accent colored elements. */
  --accent-foreground: rgba(255, 255, 255, 1.00);
  /* The color used for background in destructive actions, such as delete buttons or error messages. */
  --destructive: rgba(185, 54, 39, 1.00);
  /* The default color for text or elements that appear on top of destructive colored elements. */
  --destructive-foreground: rgba(255, 255, 255, 1.00);
  /* The default border color for elements such as inputs, buttons, and other containers. */
  --border: rgba(209, 213, 219, 1.00);
  /* The default background color for input fields once the text has been filled. Should be either transparent or match the input-background. */
  --input: rgba(255, 255, 255, 1.00);
  /* The default background color for input fields, text areas, and other input elements. */
  --input-background: rgba(255, 255, 255, 1.00);
  /* Shadow for small elevations, such as cards or modals. */
  --elevation-sm: 0px 1px 2px rgba(0, 0, 0, 0.05);
  /* The default color for focus rings, outlines, and other focus indicators. */
  --ring: rgba(74, 74, 244, 1.00);
  /* The color for chart elements, such as a bar or line in a chart. */
  --chart-1: rgba(74, 74, 244, 1.00);
  /* The color for another chart element, such as a bar or line in a chart. */
  --chart-2: rgba(0, 0, 97, 1.00);
  /* The color for another chart element, such as a bar or line in a chart. */
  --chart-3: rgba(185, 54, 39, 1.00);
  /* The color for another chart element, such as a bar or line in a chart. */
  --chart-4: rgba(10, 137, 76, 1.00);
  /* The color for another chart element, such as a bar or line in a chart. */
  --chart-5: rgba(232, 140, 49, 1.00);
  /* The default border radius for elements such as buttons, tooltip, and other containers. */
  --radius: 0.5rem;
  /* The border radius specifically for buttons. */
  --radius-button: 1.5rem;
  /* The border radius specifically for cards. */
  --radius-card: 1rem;
  /* The border radius specifically for input fields. */
  --radius-input: 0.5rem;
  /* The background color for sidebars, navigation menus, and other persistent elements. */
  --sidebar: rgba(37, 37, 49, 1.00);
  /* The default color for text or elements that appear on top of sidebars, navigation menus, and other persistent elements. */
  --sidebar-foreground: rgba(247, 247, 248, 1.00);
  /* The primary color used for buttons, links, and other interactive elements in sidebars and navigation menus. */
  --sidebar-primary: rgba(74, 74, 244, 1.00);
  /* The default color for text or elements that appear on top of primary colored elements in sidebars and navigation menus. */
  --sidebar-primary-foreground: rgba(255, 255, 255, 1.00);
  /* The accent color used for highlights, links, and other interactive elements in sidebars and navigation menus. */
  --sidebar-accent: rgba(168, 169, 252, 1.00);
  /* The default color for text or elements that appear on top of accent colored elements in sidebars and navigation menus. */
  --sidebar-accent-foreground: rgba(0, 0, 73, 1.00);
  /* The default border color for elements in sidebars and navigation menus. */
  --sidebar-border: rgba(75, 75, 92, 1.00);
  /* The default color for focus rings, outlines, and other focus indicators in sidebars and navigation menus. */
  --sidebar-ring: rgba(74, 74, 244, 1.00);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-input-background: var(--input-background);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 2px);
  --radius-md: var(--radius);
  --radius-lg: var(--radius-card);
  --radius-xl: var(--radius-button);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

h1 {
  font-family: 'Axiforma', sans-serif;
  font-size: var(--text-4xl);
  font-weight: var(--font-weight-medium);
  line-height: 1.2;
}

h2 {
  font-family: 'Axiforma', sans-serif;
  font-size: var(--text-3xl);
  font-weight: var(--font-weight-medium);
  line-height: 1.2;
}

h3 {
  font-family: 'Axiforma', sans-serif;
  font-size: var(--text-2xl);
  font-weight: var(--font-weight-semibold);
  line-height: 1.3;
}

h4 {
  font-family: 'Axiforma', sans-serif;
  font-size: var(--text-xl);
  font-weight: var(--font-weight-semibold);
  line-height: 1.3;
}

p {
  font-family: 'Calibre', sans-serif;
  font-size: var(--text-lg);
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
}

span {
  font-family: 'Calibre', sans-serif;
  font-size: var(--text-lg);
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
}

label {
  font-family: 'Calibre', sans-serif;
  font-size: var(--text-sm);
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
}

button {
  font-family: 'Calibre', sans-serif;
  font-size: var(--text-lg);
  font-weight: var(--font-weight-medium);
  line-height: 1.5;
  border-radius: var(--radius-button);
}

input {
  font-family: 'Calibre', sans-serif;
  font-size: var(--text-lg);
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
  border-radius: var(--radius-input);
}

.tab {
  font-family: 'Calibre', sans-serif;
  font-size: var(--text-base);
  font-weight: var(--font-weight-medium);
  line-height: 1.5;
}

.tab.active {
  font-weight: var(--font-weight-semibold);
}

.caption {
  font-family: 'Calibre', sans-serif;
  font-size: var(--text-xs);
  font-weight: var(--font-weight-semibold);
  line-height: 1.5;
  text-transform: uppercase;
}

html {
  font-size: var(--font-size);
  font-family: 'Calibre', sans-serif;
}

.card {
  border-radius: var(--radius-card);
  background-color: var(--card);
  color: var(--card-foreground);
  box-shadow: var(--elevation-sm);
}